.plan-details-top-bar-parent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.plan-details-top-bar {
  display: flex;
  flex-direction: row;
  margin: 8% 2% 2% 2%;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.plan-details-top-bar-title {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 25px;
}

.plan-details-top-bar-title p {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
