.plan-details-middle-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.plan-details-middle-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.plan-details-middle-left-section {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-left: 2%;
}

.preHarvestDetailsDecoImg {
  width: 96%;
  height: 35%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.general-info {
  width: 96%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

.general-info table {
  width: 100%;
  border-collapse: collapse;
}

.general-info table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.general-info table td:first-child {
  font-weight: bold;
  width: 50%;
}

.general-info table td:nth-child(2) {
  width: 50%;
}

.general-info table tr:last-child td {
  border-bottom: none;
}

.plan-details-middle-mid-section {
  width: 44%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin: 0 2%;
}

.plan-details-middle-right-section {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-right: 2%;
}
