.plan-details-bottom-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.plan-details-bottom-container {
  display: flex;
  flex-direction: column;
}

.plan-details-bottom-title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

.plan-details-bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.Textpara {
  text-align: justify;
  color: #666;
  font-size: 16px;
  margin-top: 20px;
}

.Textpara p {
  padding: 0 25px;
  line-height: 1.5;
}
