.hero_box {
  background: url(./assets/images/image1.png);
}

.community_stock {
  background: url(./assets/images/beautiful-view-green-fields-sunrise-captured-canggu-bali.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stock_image {
  background: url(./assets/images/communitymarket.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.postplanDetails {
  background: url(./assets/images/beautiful-view-green-fields-sunrise-captured-canggu-bali.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support_desk {
  background: url(./assets/images/supportdesk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.postharvest_add {
  background: url(./assets/images/combine-harvester-working-field.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather {
  background: url(./assets/videos/weather/rain.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mapdiv {
  width: 60%;
  margin: auto;
}

.mapdiv path {
 
  stroke: rgba(249, 246, 246, 0.778);
  stroke-width: 4px;
  transition: fill 0.5s;
}

.mapdiv :hover {
  cursor: pointer;
  transform: scale(1);
  fill: #00a000;
}

xlinkTitle {
  color: #000;
  background-color: #2d5d0d;
}

.support_b1 {
  position: relative; /* Necessary for stacking */
  background: url(./assets/images/supportDesk/support1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support_b1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.195) 0%, rgba(0, 0, 0, 0.205) 100%);
}

.support_b2 {
  position: relative; /* Necessary for stacking */
  background: url(./assets/images/supportDesk/support2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support_b2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.195) 0%, rgba(0, 0, 0, 0.205) 100%);
}

.support_b3 {
  position: relative; /* Necessary for stacking */
  background: url(./assets/images/supportDesk/support3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support_b3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.195) 0%, rgba(0, 0, 0, 0.205) 100%);
}


::-webkit-scrollbar {
  display: none;
}